<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
        <add name="Database1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\Download\Dev\KursovoyProekt_Zakazi_v.0.1\KursovoyProekt_Zakazi_v.0.1\Database1.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient"/>
      </connectionStrings>
</configuration>